//Color Variables
// $color-primary-dark: #232526;
$color-primary-dark: #333;
$color-primary-light: #434343;
$color-primary-gold: #d4af37;
$color-silver: #d3d3d3;
$color-white: #fff;

//Font Variables
$default-font-size: 1.6rem;
