.gallery {
  grid-column: 1 / -1;
  background-color: $color-primary-dark;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 5px solid $color-primary-gold;

  @include respond(phone) {
    border-bottom: 5px solid $color-primary-gold;
  }

  &__img {
    @include respond(phone) {
      grid-column: 1 / -1;
    }
    width: 100%;
  }
}
